@import '../utils/variables.scss';

.navContainer {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
    h1 {
      padding-left: 1em;
      @media (max-width: $mobile) {
        font-size: 1.1em;
      }
    }
    ul {
      padding-right: 1em;
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        margin-right: 1em;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}