.showcaseContainer {
  width: 95%;
  height: 50em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: all 1s ease;
  border-radius: 30px;
  margin: 5em auto;
  box-shadow: 5px 5px 10px -1px rgba(173,173,173,0.5);
  &:hover {
    background-size: 110% auto;
    @media (max-width: $mobile) {
      background-size: auto 110%;
    }
  }
  @media (max-width: $mobile) {
    background-position: center;
    height: 50vh;
    background-size: auto 100%;
    width: 90%;
    margin: 3em auto;
  }
  &__text {
    width: 30%;
    padding: 1.5em;
    h3 {
      color: white;
      max-width: 1080px;
      margin: auto auto 0 0;
      font-size: 2em;
      font-style: italic;
    }
    p {
      color: white;
      font-style: italic;
      font-size: 1.3em;
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
}

@keyframes fadeMe {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}