.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #487ee0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
}

.App-link {
  color: #61dafb;
}

.letter {
  animation: text-shadow forwards 5s ease;
  color: #487ee0;
  font-size: 30em;
  transition: all 0.2s ease;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .letter {
    font-size: 10em;
    animation: text-shadow-2 forwards 5s ease;
  }
}

.letter:hover {
  text-shadow: -60px 20px #244077;
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 #487ee0;
  }
  100% {
    text-shadow: -20px 15px #244077;
  }
}

@keyframes text-shadow-2 {
  0% {
    text-shadow: 0 0 #487ee0;
  }
  100% {
    text-shadow: -10px 5px #244077;
  }
}
